{% extends 'base.html' %}


{% block content %}

<header class="row people-title">
  <div class="col-3">
    <img src="https://picsum.photos/200/100/?random">
  </div>
  <div class="col-9 text-center">
    <h2>{{person.username}}
        {% if person in user.following.all %}
          <a href="{% url 'accounts:follow' person.id %}">팔로우됨</a>
        {% else %}
          <a href="{% url 'accounts:follow' person.id %}">팔로우</a>
        {% endif %}
    </h2>
    <div>{{person.last_name}}{{person.first_name}}</div>
    <div>{{person.profile.nickname}}</div>
    <div>{{person.profile.description}}</div>
  </div>
</header>

{% if user.username == person.username %}
  <a href="{% url 'accounts:update' %}" class="btn btn-info">회원정보수정</a>
  <a href="{% url 'accounts:delete' %}" class="btn btn-warning" id="delete_user">회원탈퇴</a>
  <a href="{% url 'accounts:password' %}" class="btn btn-warning" id="delete_user">비밀번호변경</a>
{% endif %}

<div class="row">
  {% for post in person.post_set.all %}
    <div class="col-4">
      <img src="{{ post.image.url }}", class="img-fluid">
    </div>
  {% endfor %}
</div>

{% endblock %}