{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
  <div class="row justify-content-center"> 
  <!-- flexbox -->
    {% for post in posts %}
    <div class="card post-card" style="width: 40rem;">
      <div class="card-header"><span>{{post.user}}</span></div>
      <img src="{{ post.image.url }}" 
           class="card-img-top card-img" alt="...">
      <div class="card-body">
        <p class="card-text">{{ post.content }}</p>
        {% if post.user == request.user %}
          <a href="{% url 'posts:delete' post.id %}" class="btn btn-danger">삭제</a>
          <a href="{% url 'posts:update' post.id %}" class="btn btn-success">수정</a>
        {% endif %}
      </div>
      <div class="card-body">
        <a href="{% url 'posts:like' post.id %}">
            {% if post in user.like_posts.all %}
              <i class="fas fa-heart"></i>
            {% else %}
              <i class="far fa-heart"></i>
            {% endif %}
        </a>
        <p class="card-text">{{post.like_users.count}}명이 좋아합니다.</p>
      </div>
      <div class="card-body">
        <!-- Comment에 대한 ModelForm을 쓰라! -->
        <form action="{% url 'posts:create_comment' post.id %}" method="POST">
          {% bootstrap_form form %}  
          <button type="submit">작성</button>
          {% csrf_token %}
        </form>
      </div>
      <div class="card-body">
          <h5>Comments</h5>
          {% for comment in post.comment_set.all %}
            <div class="card-text">
                <strong>{{comment.user.username}}</strong>
                <span>{{comment.content}}</span>
                {% if request.user == comment.user %}
                  <button type="submit"><a href="{% url 'posts:delete_comment' comment.id %}">삭제</a></button>
                {% endif %}  
            </div>
          {% empty %}
            <div class="card-text">
              댓글이 없습니다.
            </div>
          {% endfor %}
        </div>
    </div>
    {% endfor %}
  </div>
  
{% endblock %}